img.bg {
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.blur {
  background: url('../img/bg.jpg') no-repeat center center fixed;
  height: 100%;
  width: 100%;
  margin: auto;
  z-index: -1;
  position: relative;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: url(#blur);
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='10');
  
}

.blur:after {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .2);
  position: absolute;
}

.widget {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}






/*  ////////  NOT REQUIRED  //////////  */

.text {
  height: 200px;
  width: 340px;
}

.text h1 {
  text-align: center;
  text-shadow: 1px 1px rgba(0,0,0,.3);
  color: #ffffff;
  margin-top: 70px;
  font-family: 'Arvo', serif;
  font-weight: 600;
  font-size: 38px;
}

.text p {
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px rgba(0,0,0,.3);
  margin-top: 0px;
  font-family: 'Lato', serif;
  font-weight: 400;
  font-size: 22px;
}